
/*formattazione Header,logo e immagini blocco*/


#logo { height: 60px;
        background-image: url('img/pattern.png');
        background-position: bottom; 
        background-color: rgb(2, 166, 248);
}
 
h1 { margin-bottom: 0px;}

#didascalia1 {
             margin: 0;
             padding: 0;
}

#didascalia2 {margin:0;
              padding: 0;}


#logoboolean {background-image: url(img/logo.svg);
              height:100%;
              width:120px;
              background-repeat: no-repeat;
              background-position: bottom;
            }

#booleaners { color: lightskyblue;}

.giallo { background-color: yellow;}

ul {padding-left:10px;}


/*formattazione tabella*/

th { color: white;
    background-color: blue;}

table {padding:0;
       border-spacing: 0px;}

td {padding: 5px;
   padding-right:80px;}



#td1 {background-color: rgb(2, 166, 248);
}
       
#td2 {background-color: rgb(2, 166, 248);
}


/*formattazione Footer*/


h4 {color: rgb(146, 142, 140);
    margin-bottom: 15px;}

.footer1 { background-image: url('img/monitor.jpg');
           height: 210px;
           width: 300px;
           color:white;
           font-size: 20px;
        }
.footer2 { background-image: url('img/graph.jpg');
           height: 210px;
           width: 300px;
           color:white;
           font-size: 20px;
        }

.testoimg {padding-left: 10px;}

#th1 {text-align: left;}

