#logo { height: 60px;
    background-image: url('img/pattern.png');
    background-position: center; 
}
 
h1 { margin-bottom: 0px;}

#didascalia {padding-top: 0;
             margin: 0;
}

#booleaners { color: lightskyblue;}

.giallo { background-color: yellow;}

ul {padding-left:10px;}

th { color: white;
    background-color: blue;}

table {padding:0;
       border-spacing: 0px;}

td {padding: 5px;
   padding-right:80px;}



#td1 {background-color: rgb(2, 166, 248);
}
       
#td2 {background-color: rgb(2, 166, 248);
}

h4 {color: lightgray;
    margin-bottom: 15px;}

.footer1 { background-image: url('img/monitor.jpg');
           height: 210px;
           width: 300px;
           color:white;
           font-size: 20px;
        }
.footer2 { background-image: url('img/graph.jpg');
           height: 210px;
           width: 300px;
           color:white;
           font-size: 20px;
        }

.testoimg {padding-left: 10px;}

#th1 {text-align: left;}

