#logo {   height: 60px;
    background-color: red;
    background-image: background-image: url('img/pattern.png'); 
    background-size: cover;
}
 
h1 { margin-bottom: 0px;}

#didascalia {padding-top: 0;
             margin: 0;
}

#booleaners { color: lightskyblue;}

.giallo { background-color: yellow;}

ul {padding-left:10px;}

th { color: white;
    background-color: blue;}

#td1 {background-color: blue;
}
       
#td2 {background-color: blue;
}